.App {
  margin: 0;
  padding: 0;
}

.App-header {
  margin: 0;
  background: #5165ec;
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
  display: flex;
}

.audio-container {
  width: calc(100% - 3rem);
  padding: 1rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px #bebebe;
  width: calc(100% - 2rem);
}

.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  cursor: pointer;
  border-color: transparent transparent transparent #202020;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  will-change: border-width;
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.player-detail {
  font-size: 1rem;
}

.player-time {
  font-size: 1rem;
  color: rgb(104, 102, 102);
}

.playpause input[type='checkbox'] {
  visibility: hidden;
}
.playpause input[type='checkbox']:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}


article {
  margin: 1rem 0;
}

video {
  flex-grow:1;
  height: 3rem;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  color: #fff;
}

.follow-container {
  position: absolute;
  top: 4.5rem;
  color: #000;
  display: flex;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px #bebebe;
  width: calc(100% - 6rem);
  justify-content: space-between;
  align-items: center;
}

.avatar img {
  width: 3rem;
  display: inline-block;
  border-radius: 1.5rem;
}

.label-container {
  display: flex;
  flex-direction: column;
}

.label-container .top {
  font-size: 1.0rem;

}

.label-container .bottom {
  font-size: 0.8rem;
  color: #808080;
  line-height: 1rem;
}

.article-content {
  padding: 4.5rem 1.5rem;
  background: #ffffff;
}

.article-content img { 
  width: 100%;
}


.follow {
  font-size: 1rem;
  display: inline-block;
  padding: 0.2rem;
  color: #5165ec;
  border: solid 2px #5165ec;
  border-radius: 0.2rem;
}